<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accedi</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/accedi" method="GET">
        <label for="nome">Nome:</label>
        <input type="nome" id="name" name="nome" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Accedi">
    </form>
</body>
</html>