
<!-- accesso_fallito.html -->
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accesso Fallito</title>
</head>
<body>
    <form action="accesso_fallito" method="get"></form>
    <h1>Accesso Fallito</h1>
    <p>Il tentativo di accesso non è riuscito. Per favore, verifica le tue credenziali e riprova.</p>
    <p><a href="/accedi">Torna alla pagina di accesso</a></p>
    <p><a href="/reggistrati">Registrati se non hai un account</a></p>
</body>
</html>